/* CSS reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
}

section.container-flex-main{
    height: 100%;
    width: 100%;
}

.container-img-main{
    width: 50%;
    height: 100%;

}